{% extends "bgc/base.html" %}
{% block content %}

    <h4>Boardgames</h4>

    <ul>
        {% for b_game in b_games %}
        <div class="card mb-3">
            <h4 class="card-header">

            <a href="{% url 'bgc:b_game' b_game.id %}">{{ b_game }}</a>
            Game Added: {{ b_game.date_added|date:'M d, Y H:i' }}

            </h4>
        </div class="card-body">
        {% empty %}
            <li> No games have been added yet.</li>
        {% endfor %}
    </ul>
 <a href = "{% url 'bgc:new_b_game' %}"> Add a new game</a>
 {% endblock content %}